/* styles.css */

body {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.content {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.sidebar {
  background-color: blue;
  display: flex;
  flex: 1 1 0;
  max-width: 20%;
  min-width: 10%;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar > .projects > ul > li {
  color: white;
  list-style-type: none;
  font-size: 30px;
  text-wrap: wrap;
  border: 1px solid black;
}

.sidebar > .controls > ul > li {
  color: white;
  list-style-type: none;
  font-size: 30px;
  text-wrap: wrap;
  border: 1px solid black;
}

.project-view-area {
  background-color: green;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100vh;
  align-items: center;
  justify-content: baseline;
}

.project-view {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100vh;
  align-items: center;
  justify-content: baseline;
}

.todo-card-area {
  background-color: green;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
  justify-content: baseline;
}

.todo-card {
  flex: 0 0 0;
  display: flex;
  flex-direction: row;
  background-color: aqua;
  margin: 25px;
  border-radius: 10px;
  padding: 10px;
  /* column-gap: 4px; */
  /* row-gap: 8px; */
}

.todo-form {
  /* flex: 0 0 0; */
  flex-direction: row;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  /* background-color: bisque; */
  /* padding: 10px; */
  border-radius: 10px;
  column-gap: 4px;
  row-gap: 8px;
}

/* .todo-card:active {
  background-color: purple;
} */

/* .todo-card:focus-within {
  background-color: red;
} */

.project-title {
  /* display: flex; */
  flex-direction: row;
  min-width: auto;
  background-color: aqua;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
}

.new-todo-card-button {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
}

.card-title {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  align-self: center;
  /* justify-self: self-start; */
  font-weight: 800;
  font-size: 18px;
}

.card-edit-save-button {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 8;
  grid-column-end: 9;
  align-self: center;
}

.card-delete-button {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 8;
  grid-column-end: 9;
  align-self: center;
}

.card-delete-button.hidden {
  display: none;
}

.card-label {
  font-weight: 600;
}

.card-date.card-label {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  color: orange;
}

.card-date.card-text {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  color: green;
}

.card-priority.card-label {
  /* display: grid; */
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  color: blue;
}

.card-priority.card-text {
  /* display: grid; */
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  color: purple;
}

.card-description.card-label {
  /* display: grid; */
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  color: pink;
}

.card-description.card-text {
  /* display: grid; */
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 9;
  overflow: hidden;
  color: grey;
}

.card-notes.card-label {
  /* display: grid; */
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  color: bisque;
}

.card-notes.card-text {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 9;
  /* text-wrap: none; */
  overflow: hidden;
  color: red;
}
